---
import '/src/styles/index.css';
import BackButton from "../components/BackButton.astro";
import Layout from '../layouts/Layout.astro';

const site = Astro.site
const { title } = Astro.props
---

 <link href="./src/output.css" rel="stylesheet">

    <body style="background-color: #33cb1e95;">
    <section class="flex flex-col items-center min-h-screen">
		 <img src="/logos/70_charger.jpg" alt="mopar logo" class="w-60 h-auto p-3" />
  </body>

   <div class="flex justify-center my-4">
     <BackButton />
   </div>
  
 
  <Layout title="Media Tom's Transmission Service">
<section class="p-20" style="text-align: center;">
  <h1 class="text-5xl font-semibold p-3 text-shadow-cyan-400">Hot Rod Gallery</h1>
     <p>Beautiful Hot Rods</p>
</section>

  <div class="flex space-x-3.5 p-2 justify-center">
      <img src="/logos/3D image of dodge demon.png" alt="Helcat Logo" class="w-50 h-auto" />
   	  <img src="/logos/hellcat_redeye.png" alt="Helcat Logo" class="w-50 h-auto" />
      <img src="/logos/mopar_1.jpg" alt="mopar logo" class="w-50 h-auto" />
	    <img src="/logos/2026 hellcat red eye.png" alt="mopar logo" class="w-50 h-auto" />	  
	    <img src="/logos/67_Chevy.png" alt="mopar logo" class="w-50 h-auto" />
  </div>
   

   <div class="flex flex-col items-center w-full gap-8 py-5">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qfGEyshLAf4" title="Dodge Demon Burnout" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JhdRv3KNHXA?si=0hK8lv8BJQywVlFz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wHw2Svdpb8M?si=BJHDLNPYw9f7LO2i&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/l0FgtNYwXOs" title="Super Bird" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   </div>

 <body class="bg-yellow-100 bg-conic-120">
    <section class="flex flex-col items-center min-h-screen">
		 <img src="/logos/70_charger.jpg" alt="mopar logo" class="w-60 h-auto p-3" />
  </body>

   <div class="flex justify-center my-4">
      <BackButton />
   </div>
  

  </Layout>