---
import "../styles/gallery.css";
import TransmissionHero from "./transmission-hero.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Scrolling Pictures | Astro</title>
  </head>
  <body>
    <h1>Scrolling Picture Gallery</h1>

    <div class="scroll-container">
      <div class="image-track">
        <img src="/images/old-school-tranny-logo.svg" alt="Picture 4" />
        <img src="/images/lenco_st1200_transmission.jpg" alt="Picture 1" />
        <img src="/images/mopar_1.jpg" alt="Picture 2" />
        <img src="/images/old-school-tranny-logo.svg" alt="Picture 4" />
        <img src="/images/turbo_350_tranny.jpg" alt="Picture 5" />
        <img src="/images/tremec_tranny.jpg" alt="Picture 3" />
        <img src="/images/old-school-tranny-logo.svg" alt="Picture 4" />
        <img src="/images/mopar-hot-rod_cartoon.jpg" alt="Picture 5" />
         <img src="/images/tremec_tranny.jpg" alt="Picture 3" />
        <img src="/images/old-school-tranny-logo.svg" alt="Picture 4" />
        <img src="/images/mopar_2.jpg" alt="Picture 4" />
        <img src="/logos/hellcat_redeye.png" alt="Helcat Logo" />
        <img src="/images/old-school-tranny-logo.svg" alt="Picture 4" />
        <img src="/logos/mopar_1.jpg" alt="mopar logo"/>
	      <img src="/logos/2026 hellcat red eye.png" alt="mopar logo"/>	  
        <img src="/images/old-school-tranny-logo.svg" alt="Picture 4" />
	      <img src="/logos/67_Chevy.png" alt="mopar logo" />
        <img src="/images/tremec_tranny.jpg" alt="Picture 3" />
        <img src="/images/old-school-tranny-logo.svg" alt="Picture 4" />
      </div>
    </div>

   <script src="/scripts/scroll.js" is:inline></script>
   
   <TransmissionHero />
  
</body>
</html>
