---
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logos/70_charger.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || "Hot Rod Gallery"}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<Footer title={title} />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh; /* Ensures body covers full screen height */
	}

	body {
		display: flex;
		flex-direction: column;
		background-color: #83d475; /* Your page background */
	}

	main {
		flex: 1; /* This pushes the footer to the very bottom */
	}
</style>